

*,::after,::before{
    box-sizing: border-box;
}

body{
    margin: 0%;
    user-select: none;
  
}

.heading{
    margin-top: 10px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
 cursor: pointer; 
 transition: all 0.1s ease-out; 
}


.heading:hover{
    
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.main{
    width: 100%;
    height: 100vh;
background-color: black;
    display: grid;
    grid-template-columns: 1fr;
   
    justify-items: center;
    align-items: center;
    
}

.sortMain{
padding: 30px;
list-style: none;
width: 400px;
height: 500px;
background-color: white;
border-radius: 5px;
display: grid;
display: flex;
flex-direction:column;
justify-content: space-evenly;


}


.sortList{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: 10px;
    box-shadow:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 cursor:grab;

    
}

.sortList .items{
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
 
}

.sortList .items img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

i {
    padding-right: 10px;
}


.sortList.opac :where(.items,i){
  opacity: 0; 
   
}
